@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@500&family=Nunito&family=Rock+3D&display=swap');
$mobile-width: 375px;

@media screen and (max-width: $mobile-width) {
  main {
    width: $mobile-width;
    margin: 0 auto; 
  }
}
$font-logo: "Rock 3D";
$font-top: "Lexend";
$font-main: "Nunito";

$color-main: #130580;
$color-text: #49c1e8 ;
$color-footer: #f3f3a5;
$color-background: #e8e5de;


